/* primary styles */

section {
  margin-bottom: 120px;
  margin: 120px 100px;
}

hr {
  border-color: black;
  margin: 0 100px;
}

/* header styles */

.header-texts-container {
  text-align: center;
  color: white;
  font-family: "Merriweather", serif;
  max-width: 600px;
  margin: 0 auto;
  margin-top: -30px;
  padding: 50px 0;
}

.header-texts-container h4 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: -30px;
}

.header-texts-container h1 {
  font-size: 57px;
  font-weight: 900;
  line-height: 75px;
}

header {
  width: 870px;
  height: 310px;
  margin: 50px 100px;
  background-image: url("../resources/Banner\ Image.png");
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  padding: 100px;
  background-size: contain;
  border-radius: 16px;
  margin-bottom: -30px;
}

/* discount section related styles */

.discount-section-texts h1 {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 50px;
}

.discount-section-texts h4 {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin-bottom: 0px;
}

.discount-section-texts h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  margin-top: 15px;
}

.discount-section img {
  display: block;
  margin: 0 auto;
}

/* party section related styles */

.party-section {
  width: 950px;
  height: 250px;
  background-image: url("../resources/Vectorrr.png");
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 100px 0 125px 100px;
  display: flex;
  background-size: contain;
}

.party-section img {
  height: 360px;
  width: 250px;
  margin-top: -30px;
}

.party-section-content {
  margin-top: -30px;
  max-width: 600px;
}

.party-section-content h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 50px;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 7.04px;
  margin-bottom: 0px;
}

.party-section-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  line-height: 30px;
}

.party-section-content button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  border: none;
  background: none;
}

.party-section-content button:hover {
  cursor: pointer;
  font-size: 22px;
}

/* location section related styles */

.location-section {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 0;
  border-radius: 16px;
}

.location-section-content {
  text-align: center;
  margin-bottom: 50px;
}

.location-section-content h3 {
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
}

.location-section-content span {
  color: #f00;
}

.location-section-btn {
  text-align: center;
}

.location-section-btn button {
  border-radius: 8px;
  background: #f00;
  padding: 15px 30px;
  color: #fff;
  font-family: Inter;
  border: 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
}

.location-section-btn button:hover {
  cursor: pointer;
  font-size: 19px;
}

/* offer section related styles */

.offer-section {
  display: flex;
  justify-content: space-between;
  /* gap: auto; */
}

.offer-first-column {
  max-width: 370px;
}

.offer-first-column h3 {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
}

.offer-first-column h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  margin: 0;
}

.offer-first-column p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  line-height: 32px;
}

.offer-img img {
  width: 70%;
  border: 15px solid red;
  border-radius: 50%;
  padding: 25px;
}

.offer-second-column {
  max-width: 275px;
}

.offer-second-column h1 {
  color: #f00;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
}

.offer-second-column p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  line-height: 32px;
  max-width: 400px;
}

/* holyday section related styles */

.holyday-section {
  text-align: center;
}

.holyday-text-content h4 {
  color: #070211;
  font-family: Inter;
  font-size: 20px;
  margin-bottom: 0;
}

.holyday-text-content h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 62px;
  font-style: normal;
  font-weight: 900;
  margin: 20px 0;
}

.holyday-text-content span {
  color: #f00;
}

.holyday-text-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  line-height: 32px;
}

.holyday-pictures {
  margin-top: -400px;
}

.gift-box {
  position: relative;
  top: 590px;
  right: 100px;
  width: 50%;
  box-shadow: none;
}

.discount-image {
  position: relative;
  top: 380px;
  right: 170px;
}

.red-dresses-lady {
  display: block;
  margin-left: auto;
}

.plane-red-carpet {
  width: 1044px;
  height: 200px;
}

/* gifts section related styles */

.gifts-text-content h4 {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
  margin-bottom: 10px;
}

.gifts-text-content h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  margin: 0;
}

.gifts-text-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  line-height: 32px;
  max-width: 900px;
}

.gifts-images-container img {
  padding: 10px;
  border-radius: 15px;
  width: 31.15%;
}

.gifts-images-container img:hover {
  cursor: pointer;
  opacity: 0.6;
}

/* subscribe section related styles */

.subscribe-section {
  background: rgba(255, 0, 0, 0.05);
  padding: 100px 200px;
  border-radius: 16px;
}

.subscribe-section img {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.subscribe-texts-content {
  border-radius: 16px;
  text-align: center;
}

.subscribe-texts-content h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  margin: 0;
}

.subscribe-texts-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 50px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form input[type="email"] {
  padding: 25px 200px 25px 30px;
  border: 0;
  border-radius: 50px 0px 0px 50px;
}

.subscribe-form button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: 0;
  padding: 0 55px;
}

.subscribe-form button:hover {
  cursor: pointer;
  font-size: 22px;
}

/* footer styles */

footer {
  background-color: #070211;
}

footer p {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
}

.footer-first-row {
  display: flex;
  justify-content: space-between;
  padding: 100px 100px 30px 100px;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 0;
}

.footer-second-row {
  display: flex;
  justify-content: space-between;
  padding: 100px 150px;
  padding: 30px 100px 100px 100px;
}

.footer-second-row button {
  border: 0;
  color: white;
  background: none;
  font-size: 20px;
}

.footer-second-row button:hover {
  cursor: pointer;
  font-size: 22px;
}

.footer-second-content-phone {
  display: flex;
  gap: 10px;
  margin-bottom: -20px;
}

.footer-second-content-phone img {
  height: 100%;
  margin-top: 20px;
}

.footer-second-content-web {
  display: flex;
  gap: 10px;
}

.footer-second-content-web a {
  text-decoration: none;
}

.footer-second-content-web img {
  height: 100%;
  margin-top: 20px;
}

.footer-social-links a:hover {
  opacity: 0.6;
}
